:root {
	--main-bg-color: rgb(244, 243, 250);
	--main-color: #f47120;
	--sub-color: #f9a81c; 

	--dark-bg: rgb(20,42,53);
	--dark-bg2: #746e6e;
  }


body {
	margin: 0px;
	font-family: sans-serif;
	background: var(--main-bg-color);
}

.main {
	display: grid;
	width: 1fr;
	height: 100vh;
    grid-template-areas: "l a r" "l c r" "l d r";
    grid-template-columns: 1fr 65em 1fr;
	grid-template-rows: 6em 1fr 2em
}

header {
	grid-area: a;
	background: var(--main-color);
	padding: 1em;
	border-radius: 0.3em;
	margin: 0.4em;
}

section { 
	grid-area: c;
	background: var(--main-bg-color);
	padding-left: 1em;
	padding-right: 1em;
}

footer {
	grid-area: d;
	background: var(--main-color);
}

.rside{
	grid-area: r;
	background-color: var(--main-bg-color);
}
.lside{
	grid-area: l;
	background-color: var(--main-bg-color);
}

address {
	text-align: right;
	color: white;
	margin-right:1em;
}
h1 {
	color: white;
	font-size: 2em;
	margin:0;
}
h2 {
	color: var(--main-color);
}
p {
	margin: 0;
	line-height: 170%;
	padding-left: 1em;
	text-indent: 1em;
	max-width: 65em;
	line-break: strict;
}
table {
	line-height: normal;
}
th {
	border: none;
	background-color: var(--sub-color);
	color: white;
	padding: 10px 15px;
}
td {
	border: none;
	background-color: white;
	padding: 10px 15px;
}
img {
	max-height:50vh;
	max-width: 98%;
	border-radius: 0.3em;
}
li{
	max-width: 60em;
}
pre{
	max-width: 65em;
}
code{
	border-radius: 0.5em;
}
.share{
	text-indent: 1em;
	margin: 0.5em;
}

.cp_navi {
	background-color: #ffffff;
	border: 1px solid #dedede;
	border-radius: 0.3em; /*4px*/
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	color: #888888;
	display: block;
	margin: 1em 1%;
	padding-top: 1/2em;
	padding-bottom: 1/2em;
	overflow: hidden;
}
.cp_navi ul {
	margin: 0;
	padding: 0;
}
.cp_navi ul li {
	display: inline-block;
	list-style-type: none;
	-webkit-transition: all 0.2s;
	        transition: all 0.2s;
}
.cp_navi > ul > li > a > .caret {
	border-top: 4px solid #aaaaaa;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: '';
	display: inline-block;
	height: 0;
	width: 0;
	vertical-align: middle;
	-webkit-transition: color 0.1s linear;
	        transition: color 0.1s linear;
}
.cp_navi > ul > li > a {
	color: #aaaaaa;
	display: block;
	line-height: 56px;
	padding: 0 10px;
    text-decoration: none;
    font-size: 1em;
}
.cp_navi > ul > li:hover {
	background-color: #ff3b17;
}
.cp_navi > ul > li:hover > a {
    color: rgb( 255, 255, 255 );
}
.cp_navi > ul > li:hover > a > .caret {
	border-top-color: rgb( 255, 255, 255 );
}
.cp_navi > ul > li > div {
	background-color: #ff3b17;
	border-top: 0;
	border-radius: 0 0 0px 0px; /*4px 4px*/
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	display: none;
	margin: 0;
	opacity: 0;
	position: absolute;
	width: 165px;
	visibility: hidden;
	-webkit-transiton: opacity 0.2s;
	       transition: opacity 0.2s;
}
.cp_navi > ul > li:hover > div {
	display: block;
	opacity: 1;
	visibility: visible;
}
.cp_navi > ul > li > div ul > li {
	display: block;
}
.cp_navi > ul > li > div ul > li > a {
	color: #ffffff;
	display: block;
	padding: 12px 24px;
    text-decoration: none;

}
.cp_navi > ul > li > div ul > li:hover > a {
	background-color: rgba( 255, 255, 255, 0.1);
}

@media (prefers-color-scheme: dark){
	body {
		background: var(--dark-bg);
	}
	section {background: var(--dark-bg)}
	.rside{
		grid-area: r;
		background-color: var(--dark-bg);
	}
	.lside{
		grid-area: l;
		background-color: var(--dark-bg);
	}
	p {color: white}
	ul{color: white;}
	ol{color:white;}
	a{color:#93d7f7;}
	td {background: var(--dark-bg2); color: white;}
	h3{color:white;}
	address{color:var(--dark-bg);}
	.cp_navi {
		background-color: var(--dark-bg2);
		border: 1px solid #000000;
		color: white;
	}
	.cp_navi > ul > li > a {color: white;}
	.cp_navi > ul > li > a > .caret {border-top: 4px solid #ffffff;}
}

@media (max-width:1050px){
    .main {grid-template-columns: 0 1fr 0;
    }
    img{
        height:calc(19vw);
    }
}