
body { margin: 0px; font-family: sans-serif;}
.main { display: grid; width: 100vw; height: 100vh;
    grid-template-areas: "a" "c" "d";
    grid-template-columns: 1fr;
    grid-template-rows: 5em 1fr 3em }
header { grid-area: a; background: rgb(20,42,53); padding-right: 1em; padding-left: 1em }
section { grid-area: c; background: rgb(244,243,250); padding-right: 1em; padding-left: 1em }
footer { grid-area: d; background: rgb(20,42,53); padding: 1em }
address { text-align: right; color: white; }
h1 {color: white; font-size: 2em;}
h2 {color: rgb(20, 42, 53);}
iframe { width: 100%; height: 100%;}
p {line-height: 170%; color: rgb(20, 42, 53); padding-left: 12px; text-indent: 1em;}
table {line-height: normal;color: rgb(20, 42, 53); border: rgb(20, 42, 53); }
th {border: none; background-color: teal; color: white; padding: 10px 15px; }
td {border: none; background-color: white; padding: 10px 15px; }
img {width:30vh; max-width: 98%;}

.cp_navi {
	background-color: #ffffff;
	border: 1px solid #dedede;
	border-radius: 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	color: #888888;
	display: block;
	margin: 1em 1%;
	padding-top: 1/2em;
	padding-bottom: 1/2em;
	overflow: hidden;
	width: 98%;
}
.cp_navi ul {
	margin: 0;
	padding: 0;
}
.cp_navi ul li {
	display: inline-block;
	list-style-type: none;
	-webkit-transition: all 0.2s;
	        transition: all 0.2s;
}
.cp_navi > ul > li > a > .caret {
	border-top: 4px solid #aaaaaa;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: '';
	display: inline-block;
	height: 0;
	width: 0;
	vertical-align: middle;
	-webkit-transition: color 0.1s linear;
	        transition: color 0.1s linear;
}
.cp_navi > ul > li > a {
	color: #aaaaaa;
	display: block;
	line-height: 56px;
	padding: 0 10px;
    text-decoration: none;
    font-size: 1em;
}
.cp_navi > ul > li:hover {
	background-color: rgb(218, 60, 65);
}
.cp_navi > ul > li:hover > a {
    color: rgb( 255, 255, 255 );
}
.cp_navi > ul > li:hover > a > .caret {
	border-top-color: rgb( 255, 255, 255 );
}
.cp_navi > ul > li > div {
	background-color: rgb(218, 60, 65);
	border-top: 0;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	display: none;
	margin: 0;
	opacity: 0;
	position: absolute;
	width: 165px;
	visibility: hidden;
	-webkit-transiton: opacity 0.2s;
	       transition: opacity 0.2s;
}
.cp_navi > ul > li:hover > div {
	display: block;
	opacity: 1;
	visibility: visible;
}
.cp_navi > ul > li > div ul > li {
	display: block;
}
.cp_navi > ul > li > div ul > li > a {
	color: #ffffff;
	display: block;
	padding: 12px 24px;
    text-decoration: none;

}
.cp_navi > ul > li > div ul > li:hover > a {
	background-color: rgba( 255, 255, 255, 0.1);
}

