<!DOCTYPE html>
<html>
  <head>
    <meta name="theme-color" content="#f47120">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@lnln_ch">

    <meta property="og:url" content="https://lnln.dev/blog/index.html">
    <meta property="og:title" content="なかがわ電機サービス">

    <meta property="og:description" content="個人的な適当な記録です">
    <meta property="og:image" content="https://lnln.dev/img/title.png">

    <script src="https://cdn.tailwindcss.com"></script>

    <title>なかがわ電機サービス</title>
  </head>

<body ontouchstart="" class="dark:bg-black">
<header class="bg-orange-500 m-4 p-4 rounded-lg">
  <a href="/"><div class="text-white text-3xl">なかがわ電機サービス</div></a>
</header>


<a class="m-6 text-cyan-600" href="/">Home</a>

<section class="bg-gray-100 m-4 p-4 rounded-lg dark:bg-gray-800 dark:text-white">
  <h2 class="text-2xl text-orange-500 font-bold mb-4">最新3件のブログ</h2>
  <ul class="url-list">
  </ul class="url-list">
</section>

<section class="bg-gray-100 m-4 p-4 rounded-lg dark:bg-gray-800 dark:text-white">
  <h2 class="text-2xl text-orange-500 font-bold mb-4">月別アーカイブ</h2>
  <ul class="archive">
  </ul class="archive">
</section>

<div class="ml-6">
  <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>


<footer class="m-4 px-4 py-2 rounded-lg bg-orange-500 text-white ">Made by lnln_ch</footer>
</body></html>
