<!DOCTYPE html>
<html>
  <head>
    <meta name="theme-color" content="#f47120">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">

    <link rel="stylesheet" href="/css/highlight/styles/dark.css">
    <script src="/css/highlight/highlight.pack.js"></script>
    <link href="/css/lnln.css" rel="stylesheet">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@lnln_ch">
    <!--置換用タグ1-->
    <meta property="og:url" content="https://lnln.dev/"> <!--記事のurlをかいて-->
    <meta property="og:title" content="りんりん"> <!--記事のtitleをかいて-->
    <!--置換用タグ2-->
    <meta property="og:description" content="個人的な適当な記録です">
    <meta property="og:image" content="https://lnln.dev/title.png">

    <title>タイトル</title>
  </head>

<body ontouchstart=""><div class="main">
<header>
  <a href="https://lnln.dev"><h1>りんりん</h1></a>
</header>

<div class="sections">
  <a class="linkbutton" href="/">homeに戻る</a>

  <section>
    <h2>タイトル</h2>
    <p>
    </p>
  </section>
  
  <div class="share">
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-via="lnln_ch" data-lang="ja" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>

</div>


<footer><address>Made by lnln_ch</address></footer>
</div></body></html>
