<!DOCTYPE html>
<html>
  <head>
    <meta name="theme-color" content="#f47120">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@lnln_ch">
    <meta property="og:url" content="https://lnln.dev">
    <meta property="og:title" content="なかがわ電機サービス">
    <meta property="og:description" content="趣味の工作の記録">
    <meta property="og:image" content="https://lnln.dev/img/title.png">

    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        const links = Array.from(document.querySelectorAll("a"));
        for (const link of links) {
          if (link.hostname !== window.location.hostname) {
              link.target = "_blank";
              link.rel = "noopener noreferrer";
          }
        }
      });
    </script>

    <title>なかがわ電機サービス</title>
    
  </head>

<body ontouchstart="">
<header class="bg-orange-500 m-4 p-4 rounded-lg">
  <a href="/"><h1 class="text-white text-3xl">なかがわ電機サービス</h1></a>
</header>

<div class="sections">

  <section class="bg-gray-100 m-4 p-4 rounded-lg">
    <h2 class="text-2xl text-orange-500 font-bold mb-4">Works</h2>
    <div class="flex flex-wrap place-content-evenly">

      <!--ContentLink-->

    </div>
  </section>

  <section class="bg-gray-100 m-4 p-4 rounded-lg">
    <h2 class="text-2xl text-orange-500 font-bold mb-4">Blog</h2>
    <ul class="list-disc m-4">
      <li><a href="./blog/" class="text-cyan-600">blog</a></li>
    </ul>
  </section>

  <section class="bg-gray-100 m-4 p-4 rounded-lg">
    <h2 class="text-2xl text-orange-500 font-bold mb-4">SNS</h2>

    <ul class="list-disc m-4">
      <li><a href="https://www.twitter.com/lnln_ch"  class="text-cyan-600">Twitter (@lnln_ch)</a></li>
      <li><a href="https://www.instagram.com/lnln_ch"  class="text-cyan-600">Instagram (@lnln_ch)</a></li>
      <li><a rel="me" href="https://mstdn.maud.io/@sa_1mn"  class="text-cyan-600">sa_1mn @mstdn.maud.io</a></li>
    </ul>

  </section>

  <section class="bg-gray-100 m-4 p-4 rounded-lg">
    <h2 class="text-2xl text-orange-500 font-bold mb-4">Links</h2>
    <p>いつの間にか僕のサイトのリンクが友人や先輩や後輩のサイトに貼られていたので、私も貼って相互にします</p>

    <ul class="list-disc m-4">
      <li><a href="https://gotti.dev"  class="text-cyan-600">ごっち(gotti.dev)</a></li>
      <li><a href="https://azukibar.dev"  class="text-cyan-600">アイスの棒(azukibar.dev)</a></li>
      <li><a href="https://www.hutinoatari.dev/"  class="text-cyan-600">捻れたバベル(hutinoatari.dev)</a></li>
      <li><a href="https://mocchan.dev"  class="text-cyan-600">Lunatic電通生もっちゃんの部屋(mocchan.dev)</a></li>
      <li><a href="https://elmer9.github.io/"  class="text-cyan-600">ファンサイト(elmer9.github.io)</a></li>
      <li><a href="https://helkun.dev/"  class="text-cyan-600">へる破壊財団(https://helkun.dev/)</a></li>
      <li><a href="https://yuino.dev/"  class="text-cyan-600">ゆいのページ(https://yuino.dev/)</a></li>
    </ul>

  </section>
    

  <div class="m-4">
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-via="lnln_ch" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>

</div>


<footer class="m-4 px-4 py-2 rounded-lg bg-orange-500 text-white ">Made by lnln_ch</footer>
</body></html>
