<!DOCTYPE html>
<html>
  <head>
    <meta name="theme-color" content="#f47120">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@lnln_ch">
    <meta property="og:url" content="https://lnln.dev">
    <meta property="og:title" content="りんりん">
    <meta property="og:description" content="趣味の工作の記録">
    <meta property="og:image" content="https://lnln.dev/img/title.png">

    <title>りんりん</title>
    <link href="./css/lnln.css" rel="stylesheet">
  </head>

<body ontouchstart=""><div class="main">
<header>
  <a href="/"><div>なかがわ電機サービス</div></a>
</header>

<div class="sections">

  <section>
    <h1>Works</h1>
    <div class="itemize">

      <!--ContentLink-->

    </div>
  </section>

  <section>
    <h1>Blog</h1>
    <ul>
      <li><a href="./blog/">blog</a></li>
    </ul>
  </section>

  <section>
    <h1>SNS</h1>

    <ul>
      <li><a href="https://www.twitter.com/lnln_ch" target="_blank">Twitter (@lnln_ch)</a></li>
      <li><a href="https://www.instagram.com/lnln_ch" target="_blank">Instagram (@lnln_ch)</a></li>
      <li><a rel="me" href="https://mstdn.maud.io/@sa_1mn" target="_blank">sa_1mn @mstdn.maud.io</a></li>
    </ul>

  </section>

  <section>
    <h1>Links</h1>
    <p>いつの間にか僕のサイトのリンクが友人や先輩や後輩のサイトに貼られていたので、私も貼って相互にします</p>

    <ul>
      <li><a href="https://gotti.dev" target="_blank">ごっち(gotti.dev)</a></li>
      <li><a href="https://azukibar.dev" target="_blank">アイスの棒(azukibar.dev)</a></li>
      <li><a href="https://www.hutinoatari.dev/" target="_blank">捻れたバベル(hutinoatari.dev)</a></li>
      <li><a href="https://mocchan.dev" target="_blank">Lunatic電通生もっちゃんの部屋(mocchan.dev)</a></li>
      <li><a href="https://elmer9.github.io/" target="_blank">ファンサイト(elmer9.github.io)</a></li>
      <li><a href="https://helkun.dev/" target="_blank">へる破壊財団(https://helkun.dev/)</a></li>
    </ul>

  </section>
    

  <div class="share">
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-via="lnln_ch" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>

</div>


<footer><address>Made by lnln_ch</address></footer>
</div></body></html>
