output{
    border: 1pt solid #000;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

.hd {
    max-width: 100%;
}

.sd {
    max-width: 100%;
}

h2{
    margin: 0;
}